<%
const project_description = site.data.projects[page.project]
%>

<%- partial('partial/project/banner') %>
<div class="heroes">
    <div class="page-title small">
        <div class="ui container">
            <h4>
                <%= project_description.description %>
            </h4>
        </div>
    </div>
</div>

<div class="ui container page-content">
    <div class="ui stackable grid">
        <div class="column three wide computer only print hidden">
            <%- partial( 'partial/menu/desktop-left-project') %>
        </div>
        <div class="column thirteen wide computer sixteen wide mobile">
            <%- page.has_news ? partial('partial/project/with-news') : page.content %>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $('.ui.menu .ui.dropdown').dropdown({on: 'hover'});
    });
</script>
