{% assign project_description = site.data.site.projects[page.project] %}
{% if project_description and project_description.blog_tag_url %}
{% assign blog_suffix_url = project_description.blog_tag_url | append: "/" %}
{% assign blog_tag = project_description.blog_tag_url %}
{% else %}
{% assign blog_suffix_url = "" %}
{% assign blog_tag = "global" %}
{% endif %}
{% assign blog_url = "https://in.relation.to/" | append: blog_suffix_url %}
{% assign blog_json_feed = site.data.site.links.news_feed_root_url | append: "/" | append: blog_tag | append: ".json" %}

<div class="ui segment raised news" id="latest-news" style="display:none">
    <h3>Latest news</h3>
    <div id="feed">
    </div>
    <a class="ui right labeled icon button" href="{{ blog_url }}">
        <i class="right arrow icon"></i>
        Other news
    </a>
</div>

<script>
    $(document).ready(function () {
        $.ajax({
            url: "{{blog_json_feed}}",
            jsonpCallback: "getBlogEntries",
            dataType: "jsonp",

            // Work with the response
            success: function (data) {
                var feedDiv = $('#feed');
                feedDiv.empty();
                for (var i = 0; i < data.length; i++) {
                    var entry = data[i];
                    var entryDate = new Date(entry.date);
                    var dateString =
                        entryDate.getFullYear() + '-'
                        + ('0' + (entryDate.getMonth() + 1)).slice(-2) + '-'
                        + ('0' + entryDate.getDate()).slice(-2);
                    feedDiv.append(
                        $('<div class="news-item"/>').append(
                            $('<h4/>').append(
                                $('<a href="' + entry.url + '" />').text(entry.title)
                            )
                        ).append(
                            $('<small/>').text(dateString)
                        ).append(
                            $('<p/>').text(entry.snippet)
                        ).append(
                            '<hr/>'
                        )
                    );
                }
                $('#latest-news').fadeIn();
            }
        });
    });
</script>
