<div class="ui stackable grid">
    <div class="column eleven wide">
        <div class="content" id="content">
            <%- page.content %>
        </div>
    </div>
    <div class="column five wide">
        <%- partial('partial/common/latest-news') %>
    </div>
</div>
