<div class="ui inverted vertical footer segment print ">
    <div class="ui container">
        <div class="ui stackable inverted divided equal height stackable grid">
            <div class="three wide column">
                <h4 class="ui inverted header">Projects</h4>
                <div class="ui inverted link list">
                    <a class="item" href="orm" title="Hibernate ORM">Hibernate ORM</a>
                    <a class="item" href="search" title="Hibernate Search">Hibernate Search</a>
                    <a class="item" href="validator" title="Hibernate Validator">Hibernate Validator</a>
                    <a class="item" href="reactive" title="Hibernate Reactive">Hibernate Reactive</a>
                    <a class="item" href="tools" title="Hibernate Tools">Hibernate Tools</a>
                    <a class="item" href="others" title="Other projects">Other projects</a>
                </div>
            </div>
            <div class="three wide column">
                <h4 class="ui inverted header">Follow us</h4>
                <div class="ui inverted link list">
                    <a class="item" href="https://in.relation.to/" title="Blog">Blog</a>
                    <a class="item" href="https://twitter.com/hibernate/" title="Twitter">Twitter</a>
                </div>
            </div>
            <div class="five wide column">
                <h4 class="ui inverted header">Contribute and community</h4>
                <div class="ui inverted link list">
                    <a class="item" href="community" title="Community resources">Community resources</a>
                    <a class="item" href="https://github.com/hibernate/">Our GitHub organization</a>
                    <a class="item" href="https://hibernate.atlassian.net/" title="Submit a bug">Submit a bug</a>
                    <a class="item" href="https://discourse.hibernate.org/" title="Submit a bug">Our forums</a>
                    <a class="item" href="https://access.redhat.com/security/team/contact/"
                       title="Report a security issue">Report a security issue</a>
                    <a class="item" href="community/license" title="License">License</a>
                </div>
            </div>
            <div class="five wide column sponsor">
                <div class="logo">
                    <a href="https://www.redhat.com/">
                        <img src="/assets/images/sponsored-by-redhat.svg" title="Red Hat">
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
