<div class="ui stackable grid">
    <div class="column eleven wide">
        <div class="content" id="content">
            <%- content %>
        </div>
    </div>
    <div class="column five wide">
        <%- include('/layouts/partial/common/latest-news.ejs') %>
    </div>
</div>
