---
layout: layouts/project.ejs
title: The Bean Validation reference implementation.
project: validator
has_news: true
---

<div id="content-wrap" itemprop="articleBody">
	<div class="feature-block">
		{% renderFile "./_includes/page-includes/validator/index/index1.adoc" %}
		{% renderFile "./_includes/page-includes/validator/index/index2.adoc" %}
		{% renderFile "./_includes/page-includes/validator/index/index3.adoc" %}
		{% renderFile "./_includes/page-includes/validator/index/index4.adoc" %}
		{% renderFile "./_includes/page-includes/validator/index/index5.adoc" %}
	</div>
</div>
