---
layout: /layouts/layout.ejs
---
<%
const project_description = projects[project]
%>

<%- include('/layouts/partial/project/banner.ejs') %>
<div class="heroes">
    <div class="page-title small">
        <div class="ui container">
            <h4>
                <%= project_description.description %>
            </h4>
        </div>
    </div>
</div>

<div class="ui container page-content">
    <div class="ui stackable grid">
        <div class="column three wide computer only print hidden">
            <%- include('/layouts/partial/menu/desktop-left-project.ejs') %>
        </div>
        <div class="column thirteen wide computer sixteen wide mobile">
            <%- has_news ? include('/layouts/partial/project/with-news.ejs') : content %>
        </div>
    </div>
</div>

<script>
	$(document).ready(function () {
		$('.ui.menu .ui.dropdown').dropdown({on: 'hover'});
	});
</script>
