<div class="ui container banner">
    <div class="logo">
        <a href="/">
            <img alt="Hibernate" height="53" src="/images/hibernate-logo.svg" width="200">
        </a>
    </div>
    <div class="clearfix"></div>
    <div class="ui stackable menu mobile hidden print hidden" id="nav">
        <a class="item" href="/orm/">ORM</a>
        <a class="item" href="/search/">Search</a>
        <a class="item" href="/validator/">Validator</a>
        <a class="item" href="/reactive/">Reactive</a>
        <a class="item" href="/tools/">Tools</a>
        <a class="item" href="/others/">Others</a>
        <div class="right menu">
            <a class="item" href="https://in.relation.to/">Blog</a>
            <a class="item" href="https://discourse.hibernate.org/">Forums</a>
            <a class="item" href="/community/">Community</a>
            <a class="item" href="https://twitter.com/hibernate/">
                <i class="twitter icon"></i>
                Follow us
            </a>
        </div>
    </div>

</div>
